@using WxShop_Model
<ul>
    @foreach (ProductSecondSort item in ViewBag.pro as List<ProductSecondSort>)
    {
            <li>
                <a class="imga" href="search_list.html"><img src="~/Common/img/@item.img"></a>
                <a class="txta" href="search_list.html">
                    <span>@item.Name</span>                    
                </a>
            </li>
    }

</ul>
