@using WxShop_Model
<ul>
    @foreach (ProductInfo item in ViewBag.pro as List<ProductInfo>)
    {
        if (item.img.Split(',').Count() > 1)
        {
            <li>
                <a class="imga" href="search_list.html"><img src="~/Common/img/@item.img.ToString().Split(',')[1]"></a>
                <a class="txta" href="search_list.html">
                    <span>@item.Name</span>
                    <i>@item.Describe</i>
                </a>
            </li>
        }
        else
        {
            <li>
                <a class="imga" href="search_list.html"><img src="~/Common/img/@item.img.ToString().Split(',')[0]"></a>
                <a class="txta" href="search_list.html">
                    <span>@item.Name</span>
                    <i>@item.Describe</i>
                </a>
            </li>
        }

    }

</ul>
