    <ul>
@foreach (var item in ViewBag.pro )
{
        <li>
            <a class="imga" href="search_list.html"><img src="images/img_012.jpg"></a>
            <a class="txta" href="search_list.html">
                <span>@item.Title</span>
                <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
            </a>
        </li>
}
    </ul>
