
@{
    ViewBag.Title = "sort";
    Layout = "~/Views/Shared/Master_Page.cshtml";
}
@Html.Action("seach", "home");

<!--分类页面-->
<!--分类-->
<div class="fenlei">
    <div class="fen-nav">
        <ul>
            <li class="on">冬虫夏草</li>        
        </ul>
    </div>
    <div class="fen-box">
        <div class="fff">
            <div class="fenlist">
                <ul>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草1</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="fenlist">
                <ul>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草2</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="fenlist">
                <ul>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草3</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="fenlist">
                <ul>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草4</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="fenlist">
                <ul>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草5</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="fenlist">
                <ul>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草6</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="fenlist">
                <ul>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草7</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="fenlist">
                <ul>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草8</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="fenlist">
                <ul>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草9</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="fenlist">
                <ul>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草10</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="fenlist">
                <ul>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草11</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="fenlist">
                <ul>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草12</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="fenlist">
                <ul>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草13</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="fenlist">
                <ul>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草14</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="fenlist">
                <ul>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草15</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                    <li>
                        <a class="imga" href="search_list.html"><img src="~/Common/img/img_012.jpg"></a>
                        <a class="txta" href="search_list.html">
                            <span>云南特级冬虫夏草</span>
                            <i>冬虫夏草有负性频率、降低心肌耗氧量、改善心肌缺血、抗血小板聚集和抗心律失常等作用。虫草醇提取物对急性病毒性心肌炎有明显保护作用。</i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
<!--分类-->
<!--分类页面-->
<script>
    var m=$(window).height()-98;
    $(".fen-nav,.fen-box").css("height",m+"px");


    var $lii = $(".fenlei .fen-nav li");
    $(".fenlei .fen-box .fenlist").hide();
    $(".fenlei .fen-box .fenlist").first().show();
    $lii.click(function(){
        var n = $(this).index();
        var h = $(this).height();
        //alert(h)
        var sunh = n * h-1;
        $(".fen-nav").animate({"scrollTop":sunh+"px"},1000)


        $(this).addClass("on").siblings().removeClass("on");
        var indexx = $lii.index(this);
        $('.fenlei .fen-box').animate({scrollTop: '0px'},500);
        $(".fenlei .fen-box .fff .fenlist").hide();
        $(".fenlei .fen-box .fff .fenlist").eq(indexx).show();
    })
    var w=$(".fenli li img").width();
    $(".fenli li img").height(w);
    $(window).resize(function(){
        var w=parseInt($(".fenli li img").width());
        $(".fenli li img").height(w);
    })

</script>


