
@{
    ViewBag.Title = "sort";
    Layout = "~/Views/Shared/Master_Page.cshtml";
}
@using WxShop_Model
@Html.Action("seach", "home")
<script>
    $(function () {
        $(".MySortFirst").click(function () {
            var Code = $(this).attr("data_value");
            alert(Code);
            $.ajax({
                type: "post",
                data: { "id": Code },
                url: "/Sort/ProductInfo",
                success: function (data) {
                    alert(data);
                    $('.fenlist').html(data);
                }
            })
        })
        $("#Sort").attr("class", "current");
    })
</script>
<!--分类页面-->
<!--分类-->
<div class="fenlei">
    <div class="fen-nav">
        <ul>
            @foreach (ProductSort item in ViewBag.SortFirst as List<ProductSort>)
            {
                <li class="MySortFirst" data_value="@item.Code">@item.Name</li>
            }           
        </ul>
    </div>
    <div class="fen-box">
        <div class="fff">
            <div class="fenlist">
                @Html.Action("ProductInfo", "sort")
            </div>
        </div>
    </div>
</div>
<!--分类-->
<!--分类页面-->
<script>
    var m=$(window).height()-98;
    $(".fen-nav,.fen-box").css("height",m+"px");


                    var $lii = $(".fenlei .fen-nav li");
    $(".fenlei .fen-box .fenlist").hide();
    $(".fenlei .fen-box .fenlist").first().show();
    $lii.click(function(){
        var n = $(this).index();
        var h = $(this).height();
        //alert(h)
        var sunh = n * h-1;
        $(".fen-nav").animate({"scrollTop":sunh+"px"},1000)


        $(this).addClass("on").siblings().removeClass("on");
                    var indexx = $lii.index(this);
        $('.fenlei .fen-box').animate({scrollTop: '0px'},500);
      //  $(".fenlei .fen-box .fff .fenlist").hide();
        $(".fenlei .fen-box .fff .fenlist").eq(indexx).show();
                })
    var w=$(".fenli li img").width();
    $(".fenli li img").height(w);
    $(window).resize(function(){
                    var w=parseInt($(".fenli li img").width());
        $(".fenli li img").height(w);
                })

</script>


