<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Common/css/Cbase.css" rel="stylesheet" />
    <link href="~/Common/css/index.css" rel="stylesheet" />
    <link href="~/Common/css/swiper.min.css" rel="stylesheet" />
    <script src="~/Common/js/jquery-1.7.2.min.js"></script>
    <script src="~/Common/js/base.js"></script>
    <script src="~/Common/js/swiper.min.js"></script>
    <script src="~/Common/js/index.js"></script>
    <title>@ViewBag.Title</title>
    @RenderSection("style",false)
    <!--jquery和jquery-weui-->
    <link rel="stylesheet" href="//res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css" />
    <link rel="stylesheet" href="//cdn.bootcss.com/jquery-weui/1.0.1/css/jquery-weui.min.css">
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <!--fixft开始-->
    <div class="fixft">
        <a href="~/home/index" id="Index">
            <span><img src="~/Common/img/navicon_45.png" class="img1"><img src="~/Common/img/navicon_28.png" class="img2"></span>
            <i>首页</i>
        </a>
        <a href="~/Sort/sort" id="Sort">
            <span><img src="~/Common/img/navicon_48.png" class="img1"><img src="~/Common/img/navicon_30.png" class="img2"></span>
            <i>分类</i>
        </a>
        <a href="~/ShopCart/ShopCart" id="ShopCar">
            <span><img src="~/Common/img/navicon_50.png" class="img1"><img src="~/Common/img/navicon_32.png" class="img2"><em>12</em></span>
            <i>购物车</i>
        </a>
        <a href="~/User/Index" id="My">
            <span><img src="~/Common/img/navicon_42.png" class="img1"><img src="~/Common/img/navicon_35.png" class="img2"></span>
            <i>我的</i>
        </a>
    </div>
    <!--fixft结束-->
 
</body>
</html>
