@using WxShop_Model
<ul>
    @foreach (ProductInfo item in ViewBag.Pro as List<ProductInfo>)
     {
        <li>
            <a href="~/ProductInfo/ProductInfo?id=@item.Code"><img src="~/Common/img/@item.img.Split(',')[0]"></a>
            <div class="product_text">
                <h2>
                    <p>@item.Name</p>
                    <span><img src="~/Common/img/icon_06.png"><img src="~/Common/img/icon_06.png"><img src="~/Common/img/icon_06.png"><img src="~/Common/img/icon_06.png"><img src="~/Common/img/icon_07.png"></span>
                </h2>
                <p>@item.Describe</p>
                <h3>
                    <p><i>￥</i><b>@item.Price</b><span>特级</span><span>甄选</span></p>
                    <a href="product_xq.html">立即购买</a>
                </h3>
            </div>
        </li>
     }
</ul>
