
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Master_Page.cshtml";
}
@using WxShop_Model
@{Html.RenderPartial("Seach","home");}
<!--banner start-->
<div class="swiper-container index_banner">
    <div class="swiper-wrapper">
        @foreach (Banner item in ViewBag.Banner as List<Banner>)
        {
            <div class="swiper-slide"><a><img src="~/Common/img/@item.img" alt=""></a></div>
        }
        @*<div class="swiper-slide"><a><img src="~/Common/img/index_banner.jpg" alt=""></a></div>
        <div class="swiper-slide"><a><img src="~/Common/img/index_img01.jpg" alt=""></a></div>
        <div class="swiper-slide"><a><img src="~/Common/img/index_img03.jpg" alt=""></a></div>*@
    </div>

    <div class="swiper-pagination swiper-index"></div>
</div>
<script>
	var swiper1 = new Swiper('.index_banner', {
		pagination: '.swiper-index',
		paginationClickable: true,
		loop: true,
		autoplay: 4000,
	});
</script>
<!--banner over-->
<div class="index_knowledge">
    <img src="~/Common/img/icon1.jpg" />
    <div class="swiper-container dlist">
        <div class="swiper-wrapper">
            @foreach (ShowNews item in ViewBag.ShowNews as List<ShowNews>)
            {
                <a class="swiper-slide" href="gonggao_xq.html"><i>最热</i>@item.Title</a>
            }          
        </div>
    </div>
</div>
<script>
  var swiper1 = new Swiper('.dlist', {
    loop: true,
    autoplay: 4000,
    direction : 'vertical'
  });
</script>
<div class="index_main">
    <p class="index_mtitle"> <a class="on" href="#">热销</a> <a href="#">推荐</a> <a href="index_xianshi.html">限时</a></p>
    <ul>
       @foreach (ProductInfo item in ViewBag.Pro as List<ProductInfo>)
       {
        <li>
            <a href="product_xq.html"><img src="~/Common/img/index_img02.jpg"></a>
            <div class="product_text">
                <h2>
                    <p>@item.Name</p>
                    <span><img src="~/Common/img/icon_06.png"><img src="~/Common/img/icon_06.png"><img src="~/Common/img/icon_06.png"><img src="~/Common/img/icon_06.png"><img src="~/Common/img/icon_07.png"></span>
                </h2>
                <p>@item.Describe</p>
                <h3>
                    <p><i>￥</i><b>@item.Price</b><span>特级</span><span>甄选</span></p>
                    <a href="product_xq.html">立即购买</a>
                </h3>
            </div>
        </li>
       }
        @{ }
    </ul>
</div>
<div class="index_icon">
    <p>
        <span><img src="~/Common/img/icon_01.png"><i>品质保证</i></span>
        <span><img src="~/Common/img/icon_02.png"><i>送货保障</i></span>
        <span><img src="~/Common/img/icon_003.png"><i>7天包换</i></span>
        <span><img src="~/Common/img/icon_04.png"><i>质量保障</i></span>
    </p>
</div>