
@{
    ViewBag.Title = "渔具商城";
    Layout = "~/Views/Shared/Master_Page.cshtml";
}
@using WxShop_Model


<script>
    $(function () {
        $("#HotSell").click(function () {//热销
            $(this).attr("class", "on");//谁显示就把Class属性变成 On ,不现实的变为On1
            $("tuijian").attr("class", "on1");
            $("xianshi").attr("class", "on1");
            $.ajax({
                type: "post",
                data: { "id": "" },
                url: "/home/HotSell",
                success: function (data) {
                    $("#ShowPro").html(data);
                }
            })
        })
        $("#tuijian").click(function () {//推荐
            $(this).attr("class", "on");//谁显示就把Class属性变成 On ,不现实的变为On1
            $("HotSell").attr("class", "on1");
            $("xianshi").attr("class", "on1");
            //alert(1);
            $.ajax({
                type: "post",
                data: { "id": "" },
                url: "/home/tuijian",
                success: function (data) {
                    $("#ShowPro").html(data);
                }
            })
        })
        $("#xianshi").click(function () {//限时
            $(this).attr("class", "on");//谁显示就把Class属性变成 On ,不现实的变为On1
            $("tuijian").attr("class", "on1");
            $("HotSell").attr("class", "on1");
            $.ajax({
                type: "post",
                data: { "id": "" },
                url: "/home/xianshi",
                success: function (data) {
                    $("#ShowPro").html(data);
                }
            })
        })   
        $("#Index").attr("class", "current");   //把首页图片变成黑色的        
      
        //alert(@ViewBag.show11);
      
    })
</script>
@{Html.RenderPartial("Seach", "home");}
<!--banner start-->


<div class="swiper-container index_banner">
    <div class="swiper-wrapper">
        @foreach (Banner item in ViewBag.Banner as List<Banner>)
        {
            <div class="swiper-slide"><a><img src="~/Common/img/@item.img" alt=""></a></div>
        }
    </div>
    <div class="swiper-pagination swiper-index"></div>
</div>
<script>
	var swiper1 = new Swiper('.index_banner', {
		pagination: '.swiper-index',
		paginationClickable: true,
		loop: true,
		autoplay: 4000,
	});
</script>
<!--banner over-->
<div class="index_knowledge">
    <img src="~/Common/img/icon1.jpg" />
    <div class="swiper-container dlist">
        <div class="swiper-wrapper">
            @foreach (ShowNews item in ViewBag.ShowNews as List<ShowNews>)
            {
                <a class="swiper-slide" href="~/Home/News/@item.id"><i>最热</i>@item.Title</a>
            }          
        </div>
    </div>
</div>
<script>
  var swiper1 = new Swiper('.dlist', {
    loop: true,
    autoplay: 4000,
    direction : 'vertical'
  });
</script>
<div class="index_main">
    <p class="index_mtitle"> <a class="on" href="#" id="HotSell">热销</a> <a href="#" id="tuijian">推荐</a> <a href="#" id="xianshi">限时</a></p>
    <div id="ShowPro">
        @{Html.RenderAction("HotSell","Home");}
    </div>
</div>
<div class="index_icon">
    <p>
        <span><img src="~/Common/img/icon_01.png"><i>品质保证</i></span>
        <span><img src="~/Common/img/icon_02.png"><i>送货保障</i></span>
        <span><img src="~/Common/img/icon_003.png"><i>7天包换</i></span>
        <span><img src="~/Common/img/icon_04.png"><i>质量保障</i></span>
    </p>
</div>
