<!--ftop开始-->
<div class="ftop">
    <div class="index_search">
        <input onclick="document.location='search.html'" type="text" placeholder="请输入您要搜索的产品">
        <p><a href="gonggao.html"><img src="images/icon_05.png"><sup>11</sup></a></p>
    </div>
    <div style="clear: both;"></div>
</div>
<!--ftop开始--> 
