<!--ftop开始-->
<div class="ftop">
    <div class="index_search">
        <input onclick="document.location='Home/SeachHtml'" type="text" placeholder="请输入您要搜索的产品" >
        <p><a href="gonggao.html"><img src="~/Common/img/icon_05.png"><sup id="seac1"></sup></a></p>
    </div>
    <div style="clear: both;"></div>
</div>
<!--ftop开始--> 
