
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SeachHtml</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Common/css/Cbase.css" rel="stylesheet" />
    <link href="~/Common/css/index.css" rel="stylesheet" />
    <link href="~/Common/css/swiper.min.css" rel="stylesheet" />
    <script src="~/Common/js/jquery-1.7.2.min.js"></script>
    <script src="~/Common/js/base.js"></script>
    <script src="~/Common/js/swiper.min.js"></script>
    <script src="~/Common/js/index.js"></script>
</head>
<body>
    <div class="ftop">
        <div class="index_search index_search01">
            <a class="back" onClick="javascript:history.back(-1);"><img src="~/Common/img/icon_03.png"></a>
            <div>
                <input type="text" placeholder="请输入您要搜索的产品" id="my_seach">
                <input onclick="document.location='search_list.html'" type="button" value=" ">
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
    <!--ftop开始-->
    <div class="search_result">
        <h2><span>历史搜索</span><img src="~/Common/img/icon_028.png"></h2>
        <p><a href="#">膨化零食</a><a href="#">母婴</a><a href="#">卫生纸</a><a href="#">洗衣粉</a><a href="#">果蔬</a><a href="#">坚果</a><a href="#">粮油</a></p>
    </div>
    <div class="block_bg"></div>
    <div class="prompt">
        <img src="~/Common/img/img_011.jpg">
        <h2>确定要清除历史搜索记录？</h2>
        <p><a class="cancel">取消</a><a class="delete">删除</a></p>
    </div>
    <script>
        $(function () {
            $(".search_result>h2 img").click(function () {
                $(".block_bg,.prompt").fadeIn();
            })
            $(".block_bg,.prompt p a.cancel,.prompt p a.delete").click(function () {
                $(".block_bg,.prompt").fadeOut();
            })
            $("#my_seach").blur(function () {
                var seach = $(this).val();
                alert(seach);
                $.ajax({
                    type: 'post',
                    url: '/Home/SeachHtml1',
                    data: { "seach": seach },
                    success: function (data) {
                        alert(data);
                    }
                })
            })
        })
    </script>
</body>
</html>
