
@{
    Layout = null;
}
@model Senparc.Weixin.MP.AdvancedAPIs.OAuth.OAuthUserInfo

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Address</title>
    <link href="~/Common/css/Cbase.css" rel="stylesheet" />
    <link href="~/Common/css/center.css" rel="stylesheet" />
    <script src="~/Common/js/jquery-1.7.2.min.js"></script>
    <script src="~/Common/js/base.js"></script>
</head>
<body>
    <div class="ftop">
        <a class="back" onClick="javascript:history.back(-1);"><img src="~/Common/img/icon_03.png"></a>
        <h2>收货地址</h2>
        <a class="comea"></a>
        <div style="clear: both;"></div>
    </div>
    <!--ftop开始-->
    <!--个人中心-收货地址-->
    <div class="address">
        <div class="list">
            <div class="sg on">
                <!--<label></label>-->
                <a href="center-address-add.html">
                    <span class="name"><i>as </i><em>13253425342</em></span>
                    <span class="place"><i>[默认]</i>河南省郑州市金水区祭城路街道商都路与中州大道交叉口建业五栋大楼B座</span>
                </a>
            </div>
        </div>
    </div>
    <a class="makesure" href="center-address-add.html">添加收货地址</a>
    <!--个人中心-收货地址-->

</body>
</html>
