
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Master_Page.cshtml";
}
@model Senparc.Weixin.MP.AdvancedAPIs.OAuth.OAuthUserInfo
<link href="~/Common/css/Cbase.css" type="text/css" rel="stylesheet">
<link href="~/Common/css/center.css" type="text/css" rel="stylesheet">
<script src="~/Common/js/jquery-1.7.2.min.js" type="text/javascript"></script>
<script src="~/Common/js/base.js" type="text/javascript"></script>

<!--个人中心-->
<div class="centerindex">
    <div class="geren">
        <a class="imga"><img src="@Model.headimgurl" alt="头像"></a>
        <a class="name">@Model.nickname</a>
        <h6><span>普通用户</span><i>ID:@Model.openid</i></h6>
        <a class="seta" href="center-set.html"><img src="/Common/img/centericon_03.png" alt=""></a>
    </div>
    <div class="link">
        <div class="sg">
            <a class="biga" href="center-order.html"><span class="bg1">我的订单</span><i>查看全部订单</i></a>
            <div class="kind">
                <a href="center-order.html"><img src="/Common/img/centericon_29.png" alt=""><i>待付款</i><b>15</b></a>
                <a href="center-order.html"><img src="/Common/img/centericon_19.png" alt=""><i>待发货</i></a>
                <a href="center-order.html"><img src="/Common/img/centericon_22.png" alt=""><i>待收货</i></a>
                <a href="center-order.html"><img src="/Common/img/centericon_24.png" alt=""><i>待评价</i></a>
                <a href="center-order-return.html"><img src="/Common/img/centericon_26.png" alt=""><i>退款/售后</i></a>
            </div>
        </div>
        <div class="sg">
            <a class="biga"><span class="bg2">我的钱包</span></a>
            <div class="both">
                <a href="center-income.html"><span><b>15025</b>元</span><i>我的收益</i></a>
                <a href="center-code.html"><span><img src="/Common/img/centericon_40.png" alt=""></span><i>我的二维码</i></a>
            </div>
        </div>
        <div class="sg">
            <a class="biga bg" href="center-fans.html"><span class="bg3">我的云粉</span></a>
            <a class="biga bg" href="center-address.html"><span class="bg4">地址管理</span></a>
            <a class="biga bg" href="center-collect.html"><span class="bg5">我的收藏</span></a>
            <a class="biga bg" href="center-mind.html"><span class="bg6">意见反馈</span></a>
            <a class="biga bg" href="center-contact.html"><span class="bg7">联系我们</span></a>
        </div>
    </div>
</div>
<!--个人中心-->


