
@{
    Layout = null;
}
@using WxShop_Model
@using IBaseService
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>订单</title>
    <link href="~/Common/css/Cbase.css" rel="stylesheet" />
    <link href="~/Common/css/index.css" rel="stylesheet" />
    <link href="~/Common/css/swiper.min.css" rel="stylesheet" />
    <script src="~/Common/js/jquery-1.7.2.min.js"></script>
    <script src="~/Common/js/base.js"></script>
    <script src="~/Common/js/swiper.min.js"></script>
    <script src="~/Common/js/index.js"></script>
    <script>
        $(function () {
            var price = 0;
            $(".price").each(function () {
                var onePrice = $(this).attr("data_value");
                price = parseFloat(price) + parseFloat(onePrice);
            })
            $("#pay").text(price);
        })
    </script>
</head>
<body>
    <!--ftop开始-->
    <div class="ftop">
        <a class="back" onClick="javascript:history.back(-1);"><img src="~/Common/img/icon_03.png"></a>
        <h2>确认订单</h2>
        <a class="comea">&nbsp;</a>
        <div style="clear: both;"></div>
    </div>
    <!--ftop开始-->
    <div class="address">
        <div>
            <h2><span>收货人: @ViewBag.name</span><i>13201562356</i></h2>
            <p>收货地址：@ViewBag.address</p>
        </div>
    </div>
    <div class="goods_list">
        <h2>商品清单</h2>
        <ul>@*这里的trimEnd方法是去除最后一个，的*@
            @{ foreach (var item in Request["id"].TrimEnd(',').Split(','))   
                 {
                    var shopCart = (ViewBag.shopcartService as IShopCartService).GetEntity(x => x.Cid==Session["cid"].ToString() &&x.Pcode==item);
                    var pro = (ViewBag.pro as IProService).GetEntity(x => x.Code == item);
                    <li>
                        <a href="product_xq.html">
                            <img src="~/Common/img/@pro.img.ToString().Split(',')[1]">
                            <div>
                                <p>@pro.Name</p><span>规格：500g/袋</span>
                                <h3><span class="price" data_value="@shopCart.Price">¥@shopCart.Price</span><i>x @shopCart.num</i></h3>
                            </div>
                        </a>
                    </li>
                }

            }
           
        </ul>
    </div>
    <div class="delivery">
        <span>配送费</span><p>快递费<i>￥15</i></p>
    </div>
    <div class="message">
        <label>留言备注</label>
        <textarea rows="2" placeholder="请输入您想要备注的内容"></textarea>
    </div>
    <p class="sunm">共<i>2</i>件商品，合计:<i>￥</i>(含快递费)</p>
    <div class="amount">
        <span>需付:￥<i id="pay"></i></span>
        <a href="/order/orderPay?pid=">提交订单</a>
    </div>
</body>
</html>
