
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OrderPay</title>
    <link href="~/Common/css/Cbase.css" rel="stylesheet" />
    <link href="~/Common/css/index.css" rel="stylesheet" />
    <link href="~/Common/css/swiper.min.css" rel="stylesheet" />
    <script src="~/Common/js/jquery-1.7.2.min.js"></script>
    <script src="~/Common/js/base.js"></script>
    <script src="~/Common/js/swiper.min.js"></script>
    <script src="~/Common/js/index.js"></script>
</head>
<body>
    <!--ftop开始-->
    <div class="ftop">
        <a class="back" onClick="javascript:history.back(-1);"><img src="~/Common/img/icon_03.png"></a>
        <h2>支付订单</h2>
        <a class="comea">&nbsp;</a>
        <div style="clear: both;"></div>
    </div>
    <!--ftop开始-->
    <div class="number">
        <p><span>订单编号：@ViewBag.num</span><i>等待付款</i></p>
    </div>
    <p class="money"><span>支付金额</span><i>¥@ViewBag.money</i></p>
    <div class="pay_way">
        <span>选择支付方式</span>
        <p><label><img src="~/Common/img/icon_034.png"><i>微信支付</i><input type="radio" name="way"></label></p>
        <p><label><img src="~/Common/img/icon_035.png"><i>支付宝支付</i><input type="radio" name="way"></label></p>
    </div>
    <a class="confirm_pay" href="pay_succeed.html">确认支付</a>
    <script>
$(function(){
  $(".pay_way p").click(function(){
	  $(".pay_way p").removeClass("on");
	  $(this).addClass("on");
  })
})
    </script>
</body>
</html>
